{% extends 'base.html' %}
{% block main -%}
    <div class="container my-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        【2022系友OB賽in美崙】
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                    <div class="accordion-body px-5">
                        <p><strong>活動主旨：</strong>在短短大學4年的時間內能認識到的隊員不外乎就是上下約3-4年的成員，為了讓各個時期的成員齊聚一堂，和過去的隊友站在球場上享受排球帶來的種種樂趣，而有此活動並達到傳承之意義。
                        </p>
                        <p><strong>主辦單位：</strong>國立東華大學應用數學系 男排</p>
                        <p><strong>協辦單位：</strong>國立東華大學應用數學系</p>
                        <p><strong>競賽日期：</strong>111年04月23日 星期六 下午(13-17)+晚上(17-21)時段</p>
                        <p><strong>競賽地點：</strong>國立東華大學 美崙校區 體育館4-5樓綜合球場(970024 花蓮市華西路123號)</p>
                        <p><strong>參賽對象：</strong>所有人。</p>
                        <p><strong>競賽辦法：</strong>採2022-2024FIVB國際排球規則。</p>
                        <p><strong>競賽用球：</strong>Mikasa Mva300</p>
                        <p><strong>競賽制度：</strong>現場分隊大循環。</p>
                        <p><strong>報名費用：</strong>這次收費方面採一人200以上自由樂捐，也希望大家多支持（木頭地板租金真的好貴）一切收支待活動結束後會公告於本網站以及FB社團(東華應數排球校友揪一團)上。如有餘額，會挪至下一次系友盃使用，希望這個活動能永續經營下去。</p>
                        <p><strong>報名截止：</strong>111年04月23日 星期六 11:00止。</p>
                        <p><strong>備&emsp;&emsp;註：</strong>有任何問題請在留言版留言詢問。</p>
                        <p><strong>工作團隊：</strong>博班 林逸軒</p>
                        <p><strong>&emsp;&emsp;&emsp;&emsp;&emsp;</strong>碩班 呂一昕</p>
                        <p><strong>&emsp;&emsp;&emsp;&emsp;&emsp;</strong>職員 鄭凱文</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSecond"
                            aria-expanded="true" aria-controls="collapseSecond">
                        【2023系友OB賽】
                    </button>
                </h2>
                <div id="collapseSecond" class="accordion-collapse collapse" aria-labelledby="headingSecond">
                    <div class="accordion-body px-5">
                        <p><strong>活動主旨：</strong>在短短大學4年的時間內能認識到的隊員不外乎就是上下約3-4年的成員，為了讓各個時期的成員齊聚一堂，和過去的隊友站在球場上享受排球帶來的種種樂趣，而有此活動並達到傳承之意義。
                        </p>
                        <p><strong>主辦單位：</strong></p>
                        <p><strong>協辦單位：</strong></p>
                        <p><strong>競賽日期：</strong></p>
                        <p><strong>競賽地點：</strong></p>
                        <p><strong>參賽對象：</strong></p>
                        <p><strong>競賽辦法：</strong></p>
                        <p><strong>競賽用球：</strong></p>
                        <p><strong>競賽制度：</strong></p>
                        <p><strong>報名截止時間：</strong></p>
                        <p><strong>賽程公告：</strong></p>
                        <p><strong>備&emsp;&emsp;註：</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endblock main %}