{% extends 'base.html' %}
{% block main -%}
    <div class="container my-3">
        <div style="width: 300px; margin: 0 auto 0;">
            <ul class="list-group list-group-flush">
                {% for user in userData %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        style="width: 100%;">
                        <div class="h5">
                            <p class="d-inline">{{ user.amid }}
                                <span style="display: inline-block;width: 10px"></span>
                                {{ user.name }}</p>
                        </div>
                        <form method="post" action="{{ url_for('join') }}">
                            <label for="formName" class="form-label" hidden>表單名稱</label>
                            <input type="text" class="form-control" name="formName" id="formName" value="editUser"
                                   hidden>
                            <label for="userId" class="form-label" hidden>人員識別碼</label>
                            <input type="text" class="form-control" name="userId" id="userId" value="{{ user.id }}"
                                   hidden>
                            <button style="width: 70px" type="submit" class="btn btn-primary">修改</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%- endblock main %}